<div class="container">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button type="button" class="btn btn-outline-secondary">By {{selection}}: </button>
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle-split" ngbDropdownToggle></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem (click)="changeSelection('Name')">Name</button>
                    <button ngbDropdownItem (click)="changeSelection('Description')">Description</button>
                </div>
            </div>
        </div>
        <input type="text" class="form-control" placeholder="Search..." aria-label="Search"
            aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </div>
    </div>
</div>