<div class="card border-primary mb-3" style="max-width: 20rem;">
    <h5 class="card-header">{{ boardsummary.name }} <img src="{{boardsummary.owner?.imageUrl}}" class="profile-image rounded-circle"></h5>
    <div class="card-body">

        <p class="card-text">{{ boardsummary.description }} </p>

        <p>
            <span *ngFor="let columnDefinition of boardsummary.columnDefinitions"
                [ngClass]="['badge', 'badge-'+colorService.getColor(columnDefinition.title)]">{{columnDefinition.title}}</span>
        </p>

        <span class="badge badge-primary badge-pill">{{boardsummary.totalCards}} Cards</span>

        <button type="button" class="btn btn-link disabled">
            <fa-icon [icon]="faClock"></fa-icon>
            Created {{ boardsummary.createdAt | date: 'short' }}
        </button>


        <div class="btn-group card-actions">
            <a routerLink="{{boardsummary.id}}" routerLinkActive="active" class="btn btn-primary active">
                <fa-icon [icon]="faEye"></fa-icon> View
            </a>
            <button class="btn btn-secondary card-link" data-dismiss="modal"
                (click)="this.delete.emit(boardsummary)">
                <fa-icon [icon]="faTrash"></fa-icon> Remove
            </button>
        </div>
    </div>
</div>