<div class="cardList">
    <div *ngFor="let boardsummary of boardSummaries">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header"> Sprint 21 - {{ boardsummary.createdAt }} </div>
            <div class="card-body">
                <h4 class="card-title">{{ boardsummary.name }}</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>

                <p>
                    <span class="badge badge-primary">Primary</span>
                    <span class="badge badge-secondary">Secondary</span>
                    <span class="badge badge-success">Success</span>
                    <span class="badge badge-danger">Danger</span>
                    <span class="badge badge-warning">Warning</span>
                    <span class="badge badge-info">Info</span>
                    <span class="badge badge-light">Light</span>
                    <span class="badge badge-dark">Dark</span>
                </p>

                <button type="button" class="btn btn-primary card-link">Open</button>
                <button type="button" class="btn btn-secondary card-link" data-dismiss="modal">Remove</button>
            </div>
        </div>
    </div>
</div>