<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Delete Board</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p><strong>Are you sure you want to delete board with name <span class="text-primary">{{boardSummary.name}}</span>?</strong>
    </p>
    <p>All information associated to this board will be permanently deleted.
        <span class="text-danger">This operation can not be undone.</span>
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="onOk(); modal.dismiss('Submitted')">Ok</button>
</div>