.unified-with-input {
  border: 1px solid #ced4da;
}

.no-hover {
  pointer-events: none;
}

.no-right-border {
  border-right: none;
}

.no-left-border {
  border-left: none;
}

.name-label {
  color: blueviolet;
  font-style: italic;
}

.description-label {
  color: darkcyan;
  font-style: italic;
}

.clearSearch {
  position: absolute;
}
