<ng-template #rt let-r="result" let-t="term">
    <label [ngClass]="['name-label']" for="name">Name: </label>
    <ngb-highlight id="name" [result]="r.name" [term]="t"></ngb-highlight>

    <label [ngClass]="['description-label']" for="description">Description: </label>
    <ngb-highlight id="description" [result]="r.description" [term]="t">
    </ngb-highlight>
</ng-template>


<div class="container">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button type="button" class="btn btn-outline-secondary no-hover unified-with-input no-right-border">Search by {{selection}}: </button>
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle-split unified-with-input no-right-border no-left-border" ngbDropdownToggle></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem (click)="changeSelection('name')">Name</button>
                    <button ngbDropdownItem (click)="changeSelection('description')">Description</button>
                </div>
            </div>
        </div>


        <input type="search" class="form-control no-left-border" [formControl]="searchControl" [ngbTypeahead]="searchBoards" 
        [(ngModel)]="searchValue" [resultTemplate]="rt" (selectItem)="onItemSelect($event)" 
        [resultFormatter]="formatter" (search)="onEvent($event)" (keyup.enter)="onEvent($event)" >

        <!-- <input id="searchbox" type="search" class="form-control no-left-border" aria-label="Search"
            aria-describedby="button-addon2" [formControl]="searchControl" [(ngModel)]="searchValue" (selectItem)="onItemSelect($event)"
            [ngbTypeahead]="searchBoards" [resultTemplate]="rt" [inputFormatter]="inputFormatter"
            [resultFormatter]="formatter" (search)="onEvent($event)" (keyup.enter)="onEvent($event)"> -->

        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="doEmit()">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </div>

    </div>
</div>