<jhi-searchbar (inputCleared)="onClear($event)" (searchButtonClicked)="onSearch($event)"></jhi-searchbar>
Card View <button class="btn btn-outline-secondary active" type="button" id="button-addon2">
    <fa-icon [icon]="faTh"></fa-icon>
</button>
<button class="btn btn-outline-secondary" type="button" id="button-addon2">
    <fa-icon [icon]="faListUl"></fa-icon>
</button>List View

Sort Direction:


<button class="btn btn-outline-secondary" type="button" id="button-addon2">
    <fa-icon [icon]="faSortUp"></fa-icon>
</button>
<button class="btn btn-outline-secondary active" type="button" id="button-addon2">
    <fa-icon [icon]="faSortDown"></fa-icon>
</button>

<button type="button" class="btn btn-outline-secondary no-hover unified-with-input no-right-border">By {{selection}}:
</button>
<div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle-split unified-with-input no-right-border no-left-border"
        ngbDropdownToggle></button>
    <div class="dropdown-menu" ngbDropdownMenu>
        <button ngbDropdownItem>Name</button>
        <button ngbDropdownItem>Description</button>
    </div>
</div>

<button type="button" class="btn btn-outline-secondary no-hover unified-with-input no-right-border">Items per page: {{selection}}:
</button>
<div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle-split unified-with-input no-right-border no-left-border"
        ngbDropdownToggle></button>
    <div class="dropdown-menu" ngbDropdownMenu>
        <button ngbDropdownItem>10</button>
        <button ngbDropdownItem>25</button>
        <button ngbDropdownItem>50</button>
        <button ngbDropdownItem>100</button>
        <button ngbDropdownItem>500</button>
    </div>
</div>