<p *ngIf="error">{{ error }} </p>
<jhi-alert-error></jhi-alert-error>

<jhi-toolbar [board]="board" (addColumn)="onAddColumn($event)" (searching)="onSearch($event)"
    (refreshed)="onRefresh($event)"></jhi-toolbar>

<button *ngIf="boardColumnVMs.length > 4" class="show-prev btn btn-light" (click)="scrollLeft(columns)">
    <fa-icon [icon]="faChevronLeft" class="fa-2x"></fa-icon>
</button>

<button *ngIf="boardColumnVMs.length > 4" class="show-next btn btn-light" (click)="scrollRight(columns)">
    <fa-icon [icon]="faChevronRight" class="fa-2x"></fa-icon>
</button>
<div #columns class="row scrollable column-container" dragula="COLUMNS" [(dragulaModel)]="boardColumnVMs">
    <div id="{{boardColumnVM.key}}" class="col-lg-3" *ngFor="let boardColumnVM of boardColumnVMs | sortBy:'asc':'priority'">
        <div column="true" [ngClass]="['card', 'border-'+colorService.getColor(boardColumnVM.title)]">
            <div class="card-header">
                <div style="display: flex;">
                    <span class="column-drag card-title"> {{ boardColumnVM.title }}
                    </span>
                    <div ngbDropdown class="d-inline-block">
                        <a id="dropdownBasic1" ngbDropdownToggle>
                            <fa-icon [icon]="faEllipsisH"></fa-icon>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem (click)="onDeleteColumn($event, boardColumnVM)"> <fa-icon [icon]="faTrash"></fa-icon> Delete Column</button>
                            <!-- <button ngbDropdownItem> <fa-icon [icon]="faExchangeAlt"></fa-icon> Move Cards</button>
                            <button ngbDropdownItem> <fa-icon [icon]="faSort"></fa-icon> Sort Cards</button>
                            <button ngbDropdownItem> <fa-icon [icon]="faPalette"></fa-icon> Change Column Color</button> -->
                        </div>
                    </div>
                </div>
            </div>


            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="addBlankCard(boardColumnVM)">
                <fa-icon [icon]="faPlusCircle"></fa-icon> Add item
            </button>

            <div class="card-body cards-drag" [attr.columnKey]="boardColumnVM.key"
                style="padding-left: 1%; padding-right: 1%;" dragula="CARDS"
                [dragulaModel]="boardColumnVM.informationCards">
                <div [attr.id]="informationCard.id"
                    *ngFor="let informationCard of boardColumnVM?.informationCards | sortBy:'desc':'updatedAt' | filter: search; let i = index;">
                    <jhi-information-card [color]="colorService.getColor(boardColumnVM.title)"
                        [informationCard]="informationCard" (removed)="removeCard($event)" (saved)="onSaveCard($event)">
                    </jhi-information-card>

                </div>
            </div>
        </div>
    </div>
</div>