@media (min-width: 800px) {
  .column-container {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
  .show-prev {
    display: block !important;
    float: left;
    z-index: 1;
    position: fixed;
    top: 30%;
    left: 10px;
  }

  .show-next {
    display: block !important;
    float: right;
    z-index: 1;
    position: fixed;
    top: 30%;
    right: 10px;
  }
}

.show-prev {
  display: none;
}

.show-next {
  display: none;
}

.column-drag {
  cursor: move;
}

.cards-drag {
  cursor: move;
}

.card-title {
  font-weight: bold;
  font-size: large;
  width: 95%;
}

.dropdown-toggle::after {
  display: none;
}
