.grid-container {
  display: grid;
  grid-template-columns: auto 40%;
  grid-gap: 0px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  overflow: auto;
  //   border: 1px solid black;
}

.grid-container > div.board-search {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: right !important;
  overflow: auto;
  > input {
    padding: 15px;
  }
}

.board-title {
  font-size: 30px;
  font-weight: bold;
}

.grid-container > div > input {
  width: 60%;
  padding: 5px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

fa-icon:hover {
  color: #3e8acc;
}

.board-operations > a:hover {
  color: #3e8acc;
}

.board-operations > a {
  margin-right: 1%;
}

.success-message {
  color: green;
}
