.grid-container {
  display: grid;
  grid-template-columns: auto 10%;
  grid-gap: 0px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  overflow: auto;
}

.board-title {
  font-size: 30px;
  font-weight: bold;
}

.grid-container > div > input {
  width: 60%;
  padding: 5px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.success-message {
  color: green;
}
