<div class="modal-header">
    <h4 class="modal-title">Delete column</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form (ngSubmit)="onSubmit(); modal.dismiss('Submitted')" #newColumnForm="ngForm">

        <p><strong>Are you sure you want to delete column with title <span class="text-primary">{{boardColumnVM.title}}</span>?</strong>
        </p>
        <p>All cards associated to this column will be permanently deleted.
            <span class="text-danger">This operation can not be undone.</span>
        </p>
    
        <button type="submit" class="btn btn-success" [disabled]="!newColumnForm
    .form.valid">Submit</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </form>
</div>