<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Create Board</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{diagnostic}}

        <form (ngSubmit)="onSubmit(); modal.dismiss('Submitted')" #newBoardForm="ngForm">
            <fieldset>
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" for="boardName">Board Name</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Enter board name"
                        id="boardName" name="boardName" required [(ngModel)]="formModel.boardName" #reference="ngModel">

                    <div [hidden]="reference.valid || reference.pristine" class="alert alert-danger">
                        Board Name is required
                    </div>
                </div>

                <div class="form-group">
                    <select class="custom-select" [(ngModel)]="formModel.templateKey" name="templateKey" required>
                        <option *ngFor="let boardTemplate of boardTemplates" selected="">
                            {{boardTemplate.key}} </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="boardDescription">Board description</label>
                    <textarea class="form-control" id="boardDescription" name="boardDescription"
                        [(ngModel)]="formModel.description" rows="3"></textarea>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-success" [disabled]="!newBoardForm.form.valid">Submit</button>
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </form>
    </div>
</ng-template>

<div id="toolbar" class="summary-toolbar">
    <input type="text" class="form-control" placeholder="Default input" id="inputDefault"
        placeholder="Search Board Name">
</div>
<br>

<div class="container">
    <ngb-pagination [collectionSize]="pageObject?.totalElements" (pageChange)="onPageChange($event)"
        [(pageSize)]="pageSize" [(page)]="currentPage" [maxSize]="10" [rotate]="true" [ellipses]="true"
        [boundaryLinks]="true" size="lg"></ngb-pagination>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="cardList">

            <button class="btn btn-outline-primary mb-3" style="max-width: 20rem; vertical-align:middle;"
                (click)="openVerticallyCentered(content)">
                <fa-icon [icon]="faPlusSquare" style="size: 9x;" class="fa-10x"></fa-icon>
                <br>Add New Board
            </button>

            <div *ngFor="let boardsummary of boardSummaries | sortBy:'desc':'createdAt'">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header"> Sprint 21 - {{ boardsummary.createdAt | date: 'dd/MM/yyyy' }} </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ boardsummary.name }}</h4>
                        <p class="card-text">{{ boardsummary.description }} </p>

                        <p>
                            <span *ngFor="let columnDefinition of boardsummary.columnDefinitions"
                                [ngClass]="['badge', 'badge-'+colorService.getColor(columnDefinition.columnType)]">{{columnDefinition.title}}</span>
                        </p>

                        <div class="btn-group">
                            <a href="retro/boards/{{boardsummary.id}}" class="btn btn-primary active">
                                <fa-icon [icon]="faEye"></fa-icon> View
                            </a>
                            <a href="/cancel/1" class="btn btn-secondary card-link" data-dismiss="modal">
                                <fa-icon [icon]="faTrash"></fa-icon> Remove
                            </a>

                            <a href="/cancel/1" class="btn btn-info card-link" data-dismiss="modal">
                                <fa-icon [icon]="faArchive"></fa-icon> Archive
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <ngb-pagination [collectionSize]="pageObject?.totalElements" (pageChange)="onPageChange($event)"
        [(pageSize)]="pageSize" [(page)]="currentPage" [maxSize]="10" [rotate]="true" [ellipses]="true"
        [boundaryLinks]="true" size="lg"></ngb-pagination>
</div>