<jhi-searchbar (clearEvent)="onClear($event)" (searchEvent)="onSearch($event)"></jhi-searchbar>

<div class="container">
    <ngb-pagination [collectionSize]="pageObject?.totalElements" (pageChange)="onPageChange($event)"
        [(pageSize)]="pageSize" [(page)]="currentPage" [maxSize]="10" [rotate]="true" [ellipses]="true"
        [boundaryLinks]="true" size="lg"></ngb-pagination>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="cardList">

            <button class="btn btn-outline-primary mb-3" style="max-width: 20rem; vertical-align:middle;"
                (click)="openCreateBoardModal()">
                <fa-icon [icon]="faPlusSquare" style="size: 9x;" class="fa-10x"></fa-icon>
                <br>Add New Board
            </button>

            <div *ngFor="let boardsummary of boardSummaries | sortBy:'desc':'createdAt'">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header"> Sprint 21 - {{ boardsummary.createdAt | date: 'dd/MM/yyyy' }} </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ boardsummary.name }}</h4>
                        <p class="card-text">{{ boardsummary.description }} </p>

                        <p>
                            <span *ngFor="let columnDefinition of boardsummary.columnDefinitions"
                                [ngClass]="['badge', 'badge-'+colorService.getColor(columnDefinition.columnType)]">{{columnDefinition.title}}</span>
                        </p>

                        <div class="btn-group">
                            <a href="retro/boards/{{boardsummary.id}}" class="btn btn-primary active">
                                <fa-icon [icon]="faEye"></fa-icon> View
                            </a>
                            <button class="btn btn-secondary card-link" data-dismiss="modal"
                                (click)="openDeleteConfirmationModal(boardsummary)">
                                <fa-icon [icon]="faTrash"></fa-icon> Remove
                            </button>

                            <!-- <button class="btn btn-info card-link" data-dismiss="modal"
                                (click)="openVerticallyCentered(confirmationModal)">
                                <fa-icon [icon]="faArchive"></fa-icon> Archive
                            </button> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <ngb-pagination [collectionSize]="pageObject?.totalElements" (pageChange)="onPageChange($event)"
        [(pageSize)]="pageSize" [(page)]="currentPage" [maxSize]="10" [rotate]="true" [ellipses]="true"
        [boundaryLinks]="true" size="lg"></ngb-pagination>
</div>