.toolbar {
  top: 6.5%;
  right: 2%;
  position: fixed;
  width: 100%;
  z-index: 1;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border: groove;
  border-width: medium;
  border-color: blueviolet;
  padding: 0.2rem 1rem;
}

.toolbar,
#spacer {
  height: 15vh;
  max-height: 35vh;
}

div[column='true']:hover {
  border-width: medium;
}

.column-container {
  height: 100%;
}

@media (min-width: 800px) {
  .column-container {
    flex-wrap: nowrap;
  }
}

.column-drag {
  cursor: move;
}

.cards-drag {
  cursor: move;
}

.card-title {
  font-weight: bold;
  font-size: large;
  width: 95%;
}

.dropdown-toggle::after {
  display: none;
}
