<p *ngIf="error">{{ error }} </p>
<jhi-alert-error></jhi-alert-error>

<div class="toolbar">
    <small class="text-muted" style="float: left;">Created at: {{board?.createdAt | date: 'dd/MM/yyyy' }}</small>
    <br>
    <h1>
        <fa-icon [icon]="faPencilAlt"></fa-icon> {{board?.name}}
        <div style="float: right">
            <fa-icon [icon]="faSearch"></fa-icon>
            <fa-icon [icon]="faPlusCircle"></fa-icon>
            <fa-icon [icon]="faSync"></fa-icon>
        </div>
    </h1>
</div>

<div *ngIf="boardColumnVMs.length > 3" style="float: left;">
    <fa-icon [icon]="faChevronLeft" class="fa-2x"></fa-icon>
</div>

<div *ngIf="boardColumnVMs.length > 3"style="float: right">
    <fa-icon [icon]="faChevronRight" class="fa-2x"></fa-icon>
</div>

<div class="row" style="overflow-x: scroll; flex-wrap: nowrap;">
    <div class="col-lg-3" *ngFor="let boardColumnVM of boardColumnVMs">
        <div [ngClass]="['card', 'border-'+colorService.getColor(boardColumnVM.columnType)]">
            <h4 class="card-header"><b> {{ boardColumnVM.title }}</b>
            </h4>

            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="addBlankCard(boardColumnVM)">
                <fa-icon [icon]="faPlusCircle"></fa-icon> Add item
            </button>

            <div class="card-body" style="padding-left: 1%; padding-right: 1%;">
                <div
                    *ngFor="let informationCard of boardColumnVM.informationCards | sortBy:'desc':'updatedAt'; let i = index;">

                    <jhi-information-card [color]="colorService.getColor(boardColumnVM.columnType)"
                        [informationCard]="informationCard" (removed)="removeCard($event)" (saved)="onSaveCard($event)">
                    </jhi-information-card>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3" *ngFor="let boardColumnVM of boardColumnVMs">
        <div [ngClass]="['card', 'border-'+colorService.getColor(boardColumnVM.columnType)]">
            <h4 class="card-header"><b> {{ boardColumnVM.title }}</b>
            </h4>

            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="addBlankCard(boardColumnVM)">
                <fa-icon [icon]="faPlusCircle"></fa-icon> Add item
            </button>

            <div class="card-body" style="padding-left: 1%; padding-right: 1%;">
                <div
                    *ngFor="let informationCard of boardColumnVM.informationCards | sortBy:'desc':'updatedAt'; let i = index;">

                    <jhi-information-card [color]="colorService.getColor(boardColumnVM.columnType)"
                        [informationCard]="informationCard" (removed)="removeCard($event)" (saved)="onSaveCard($event)">
                    </jhi-information-card>

                </div>
            </div>
        </div>
    </div>
</div>