<div class="footer">
    <p>Crafted with passion by Andrei Sasu:
        <a href="https://github.com/AndreiSasu/" target="_blank">
            <fa-icon [icon]="faGithub" class="fa-2x"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/andreisasu/">
            <fa-icon [icon]="faLinkedin" class="fa-2x"></fa-icon>
        </a>
    </p>

    <p>Built Using:
        <a href="https://spring.io/" target="_blank">
            <fa-icon [icon]="faJava" class="fa-2x"></fa-icon>
        </a>
        <a href="https://angular.io/" target="_blank">
            <fa-icon [icon]="faAngular" class="fa-2x"></fa-icon>
        </a>
        <a href="https://www.docker.com/" target="_blank">
            <fa-icon [icon]="faDocker" class="fa-2x"></fa-icon>
        </a>
        <a href="https://aws.amazon.com/" target="_blank">
            <fa-icon [icon]="faAws" class="fa-2x"></fa-icon>
        </a>
    </p>

    <small *ngIf="isDemo">Avatar icons made by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> from <a
            href="www.flaticon.com">www.flaticon.com</a></small>
</div>