#container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.grow1 {
  flex-grow: 1;
}

.grow3 {
  flex-grow: 3;
}

.grow2 {
  flex-grow: 2;
}

.button-control {
  pointer-events: none;
}

.spaced-out {
  margin-right: 5px;
}
