<div id="container">

    <div class="grow2">
        <jhi-searchbar [selection]="defaultSearchField" [searchValue]="defaultSearchValue" [inputSubject]="inputSubject"
            (inputCleared)="onSearchInputChange($event)" (searchButtonClicked)="onSearchInputChange($event)">
        </jhi-searchbar>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group spaced-out" ngbDropdown role="group" aria-label="Button group with nested dropdown">

            <button type="button" class="btn btn-outline-secondary button-control">Sort by:
                <span class="badge badge-info">{{currentBoardsFilter.sortByFieldName | humanize }}</span>
            </button>
            <button class="btn btn-outline-secondary dropdown-toggle-split" ngbDropdownToggle></button>
            <div class="dropdown-menu" ngbDropdownMenu>

                <button ngbDropdownItem (click)="currentBoardsFilter.sortByFieldName='createdAt'; doEmit()">Created
                    at</button>
                <button ngbDropdownItem (click)="currentBoardsFilter.sortByFieldName='totalCards'; doEmit()">Total
                    cards</button>

                <button ngbDropdownItem *ngIf="enableRelevance"
                    (click)="currentBoardsFilter.sortByFieldName='relevance'; doEmit()">Relevance
            </div>
        </div>

        <div class="btn-toolbar">
            <div class="btn-group spaced-out">
                <button class="btn btn-outline-secondary" [class.active]="currentBoardsFilter.sortDirection===DESC"
                    type="button" id="button-addon2" (click)="currentBoardsFilter.sortDirection=DESC; doEmit()">
                    Desc <fa-icon [icon]="faSortDown"></fa-icon>
                </button>

                <button class="btn btn-outline-secondary" [class.active]="currentBoardsFilter.sortDirection===ASC"
                    type="button" id="button-addon2" (click)="currentBoardsFilter.sortDirection=ASC; doEmit()">
                    Asc <fa-icon [icon]="faSortUp"></fa-icon>
                </button>
            </div>
        </div>


        <div class="grow1 btn-toolbar">
            <div class="btn-group spaced-out" ngbDropdown role="group" aria-label="Button group with nested dropdown">

                <button type="button" class="btn btn-outline-secondary button-control">Items /
                    page: <span class="badge badge-info">{{currentBoardsFilter.itemsPerPage}}</span>

                </button>
                <button
                    class="btn btn-outline-secondary dropdown-toggle-split unified-with-input no-right-border no-left-border"
                    ngbDropdownToggle></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem (click)="currentBoardsFilter.itemsPerPage=10; doEmit()">10</button>
                    <button ngbDropdownItem (click)="currentBoardsFilter.itemsPerPage=25; doEmit()">25</button>
                    <button ngbDropdownItem (click)="currentBoardsFilter.itemsPerPage=50; doEmit()">50</button>
                    <button ngbDropdownItem (click)="currentBoardsFilter.itemsPerPage=100; doEmit()">100</button>
                    <button ngbDropdownItem (click)="currentBoardsFilter.itemsPerPage=500; doEmit()">500</button>
                </div>
            </div>
        </div>
        <button class="btn btn-outline-info dropdown-toggle-split unified-with-input no-right-border no-left-border"
            (click)="clearAll(); doEmit()">
            <fa-icon [icon]="faTimesCircle"></fa-icon> Clear filters
        </button>
    </div>