.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.desktop-pagination {
  display: none;
}

.mobile-pagination {
  display: flex;
}

@media (min-width: 800px) {
  .mobile-pagination {
    display: none;
  }

  .desktop-pagination {
    display: flex;
  }
}

/* Column Gap */
.cardList > * {
  box-sizing: border-box;
}

.cardList > *:not(:last-child) {
  margin-right: 32px;
}

/* Item sizing */
.cardListItem {
  flex: 0 1 calc(33.3% - 32px);
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #7ea9cf;
}

.summary-toolbar {
  background-color: rgb(125, 140, 146);
}

#container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.grow1 {
  flex-grow: 1;
}

.grow3 {
  flex-grow: 3;
}

.grow2 {
  flex-grow: 2;
}
