<div id="container">
    <div class="grow1 btn-toolbar">
        <button class="btn btn-outline-secondary" [class.active]="view===GRID" (click)="view=GRID; updateLocation()"
            type="button" id="button-addon2">
            Card View <fa-icon [icon]="faTh"></fa-icon>
        </button>
        <button class="btn btn-outline-secondary" [class.active]="view===LIST" (click)="view=LIST; updateLocation()"
            type="button" id="button-addon2">
            Table View <fa-icon [icon]="faListUl"></fa-icon>
        </button>
    </div>

    <jhi-board-summary-controls class="grow3" [savedFilter]="savedFilter" (filterChanged)="onFilterChange($event)">
    </jhi-board-summary-controls>

</div>

<div class="container">
    <ngb-pagination class="desktop-pagination" [collectionSize]="pageObject?.totalElements"
        (pageChange)="onPageChange($event)" [(pageSize)]="pageSize" [(page)]="currentPage" [maxSize]="10"
        [rotate]="true" [ellipses]="true" [boundaryLinks]="true" size="lg"></ngb-pagination>

    <ngb-pagination class="mobile-pagination" [collectionSize]="pageObject?.totalElements"
        (pageChange)="onPageChange($event)" [(pageSize)]="pageSize" [(page)]="currentPage" [maxSize]="2" [rotate]="true"
        [ellipses]="false" [boundaryLinks]="true" size="lg"></ngb-pagination>
</div>

<jhi-board-display-container [view]="view" (delete)="this.getBoardPages()" [boardSummaries]="boardSummaries"></jhi-board-display-container>

<div class="container">
    <ngb-pagination class="desktop-pagination" [collectionSize]="pageObject?.totalElements"
        (pageChange)="onPageChange($event)" [(pageSize)]="pageSize" [(page)]="currentPage" [maxSize]="10"
        [rotate]="true" [ellipses]="true" [boundaryLinks]="true" size="lg"></ngb-pagination>

    <ngb-pagination class="mobile-pagination" [collectionSize]="pageObject?.totalElements"
        (pageChange)="onPageChange($event)" [(pageSize)]="pageSize" [(page)]="currentPage" [maxSize]="2" [rotate]="true"
        [ellipses]="false" [boundaryLinks]="true" size="lg"></ngb-pagination>
</div>