<jhi-board-summary-controls></jhi-board-summary-controls>

<div class="container">
    <ngb-pagination class="desktop-pagination" [collectionSize]="pageObject?.totalElements" (pageChange)="onPageChange($event)"
        [(pageSize)]="pageSize" [(page)]="currentPage" [maxSize]="10" [rotate]="true" [ellipses]="true"
        [boundaryLinks]="true" size="lg"></ngb-pagination>
    
    <ngb-pagination class="mobile-pagination" [collectionSize]="pageObject?.totalElements" (pageChange)="onPageChange($event)"
        [(pageSize)]="pageSize" [(page)]="currentPage" [maxSize]="2" [rotate]="true" [ellipses]="false"
        [boundaryLinks]="true" size="lg"></ngb-pagination>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="cardList">

            <button class="btn btn-outline-primary mb-3" style="max-width: 20rem; vertical-align:middle;"
                (click)="openCreateBoardModal()">
                <fa-icon [icon]="faPlusSquare" style="size: 9x;" class="fa-10x"></fa-icon>
                <br>Add New Board
            </button>

            <div *ngFor="let boardsummary of boardSummaries | sortBy:'desc':'createdAt'">
                <jhi-board-summary-card [boardsummary]="boardsummary" (delete)="this.getBoardPages()"></jhi-board-summary-card>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <ngb-pagination class="desktop-pagination" [collectionSize]="pageObject?.totalElements" (pageChange)="onPageChange($event)"
        [(pageSize)]="pageSize" [(page)]="currentPage" [maxSize]="10" [rotate]="true" [ellipses]="true"
        [boundaryLinks]="true" size="lg"></ngb-pagination>
    
    <ngb-pagination class="mobile-pagination" [collectionSize]="pageObject?.totalElements" (pageChange)="onPageChange($event)"
        [(pageSize)]="pageSize" [(page)]="currentPage" [maxSize]="2" [rotate]="true" [ellipses]="false"
        [boundaryLinks]="true" size="lg"></ngb-pagination>
</div>