.desktop-pagination {
  display: none;
}

.mobile-pagination {
  display: flex;
}

@media (min-width: 800px) {
  .mobile-pagination {
    display: none;
  }

  .desktop-pagination {
    display: flex;
  }
}

#container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.grow1 {
  flex-grow: 1;
}

.grow3 {
  flex-grow: 3;
}

.grow2 {
  flex-grow: 2;
}
